body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    font-family: "Open Sans", sans-serif;

}

.banner {
    display: flex;
    color: white;
    justify-content: center;
    background-color: rgb(120, 176, 37);
    margin: 0;
    padding: 0.5rem;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(144, 178, 93);
    background-image: url(/assets/bg.jpg);
    background-position: center;
    background-size: cover;
}

.shoptitle {
    display: flex;
    justify-content: center;
    color: white;

}

nav {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}



a {
    font-size: 1rem;
    /* font-family: "Amaranth", sans-serif; */
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

content {
    border: 1px black solid;
    /* margin: 2rem; */
}

.type1 {
    background-color: white;
    border: 1px black solid;
    margin: 1rem;
    color: white;
    padding: 1rem;
    max-width: 500px;

}

.t1title {
    background-color: rgb(144, 178, 93);
    padding: 0.1rem 2rem;
    font-family: "Amaranth", sans-serif;
    letter-spacing: 2px;

}

.t1title h3 {
    font-size: 2rem;
}

.type1 img {
    width: 100%;
    height: auto;
    margin-top: 1rem;

}

.type2 {
    background-color: white;
    border: 1px black solid;
    margin: 1rem;

}

.type3 {
    background-color: white;
    border: 1px black solid;
    margin: 1rem;
}